.input-group{

    .input-group-addon i {
        cursor: pointer;
        border: 1px solid #ced4da;
        border-right: none;
        padding: 5px 13px;
        padding-top: 5px;
        font-size: 18px;
        display: block;
    }

    & > .form-control:not(:first-child),
    & > .custom-select:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    & .input-group-addon + input {
        border-left: none;
        padding-left: 2px;
        border-right: 1px solid #ddd;
    }

    & > .form-control {
        height: auto;
    }

}