.image-ratio-3-2 {
    padding-top: 66.66%;
    // background-image: url(../../../../../themes/flower/images/default.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}